.active{
    font-weight: bold;
}

.phrases-coll-selectall{
    width: 25px;
}

.phrases-coll-clicks,
.phrases-coll-ctr,
.phrases-coll-type{
    width: 100px;
}

.phrases-coll-price{
    width: 120px;
}
